@use '../abstracts/variables';

body {
  font-family: variables.$font-family-base;
  color: variables.$gray-800;
  background: variables.$gray-100;
  line-height: 1.6;
}

h1 { font-size: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }

p {
  font-size: variables.$fs-base;
}

