@use '../abstracts/variables';
@use '../abstracts/mixins';

.text-center {
    text-align: center;
}

.mt-2 {
    margin-block-start: variables.$sp-2;
}

.mt-4 {
    margin-block-start: variables.$sp-4;
}

.mb-4 {
    margin-block-end: variables.$sp-4;
}

.flex {
    display: flex;
}

.flex-between {
    @include mixins.flex(center, space-between);
}