@use '../abstracts/variables';
@use '../abstracts/mixins';

.post-detail {
    max-inline-size: 900px;
    margin: variables.$sp-7 auto;
    padding-inline: variables.$sp-4;

    &__article {
        position: relative;
    }

    &__edit-btn {
        position: absolute;
        inset-inline-end: 0;
        inset-block-start: 0;

        font-size: variables.$fs-sm;
        background: none;
        border: none;
        cursor: pointer;
        color: variables.$gray-500;

        &:hover {
            color: variables.$odoo-purple;
        }
    }

    &__excerpt {
        max-inline-size: 70%;
        font-size: variables.$fs-lg;
        font-weight: 300;
        font-style: italic;
        color: variables.$gray-600;
        margin-block-end: variables.$sp-6;
    }
}
.tiptap-content {
    line-height: 1.7;
}

.tiptap-content img {
    max-inline-size: 100%;
    border-radius: 8px;
}